/*CSS Para dispositivos de tela grande*/

body {
    background-image: linear-gradient( to bottom, #222 270px, transparent 270px, transparent 277px, #fff 280px, #fff 97%, #222 50px),
    linear-gradient(to right, #222, #a500ff, #222 );
}

aside {
    max-width: 746px;
}

.img-autor-barra {
    width: 250px;
    height: 250px;
    margin: 0px 150px;
    background-image: linear-gradient(#8c07d4 90px, transparent 50px);
    padding: 5px;
}

.link-barra {
   margin-top: 100px;
}

.borda-barra-navegacao {
    top: 187px;
}