
.rodape {
    background-color: #222;
    color: white;
    min-height: 100px;
    padding-top: 40px;
}

.nome-rodape {
    font-family: 'Roboto', sans-serif;
    max-width: 250px;
    box-sizing: border-box;
    margin: auto;
    font-size: 18px;
    text-align: center;
}

.extra-info-rodape {
    margin: 15px auto;
    box-sizing: border-box;
    max-width: 650px;
    text-align: center;
    font-size: 12px;
    color: darkgray;
}