/*CSS Para dispositivos de tela media*/

aside {
    max-width: 446px;
}

.img-autor-barra {
    width: 150px;
    height: 150px;
    margin: 0px 50px;
}

.link-barra {
    margin-top: 60px;
}

.borda-barra-navegacao {
    top: 90px;
}

@media(max-width: 450px) {
    aside {
        margin: 100px auto 10px;
    }
    
    .link-barra {
        font-size: 24px;
        margin-top: 110px;
    }
    
    .img-autor-barra {
        margin: 0px 10px 0px 0px;
    }

    .borda-barra-navegacao {
        top: 110px;
    }

    .info-geral-projeto  {
        max-width: 790px;
    }

    .img-projeto {
        display: none;
    }
}