/* Css geral da página */

body {
    overflow-x: hidden;
}

.container {
    margin: auto;
    max-width: 920px;
    min-height: 95vh;
    /* border: 1px solid; */
}

.titulo-desc-proj {
    max-width: 500px;
}

/* Informações gerais do projeto */
.info-geral-projeto {
    margin: 70px auto;
    max-width: 800px;
    height: 200px;
    border: 1px solid;
    border-radius: 15px;
    display: flex;
}

.img-projeto {
    margin: auto 30px;
    width: 200px;
    height: 130px;
    border: 1px solid;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 13px;
}

.desc-curta {
    margin: 15px;
}

aside {
    margin: 130px auto;
}

.barra-navegacao {
    display: inline-flex;
}

.link-barra {
    text-decoration: none;
    color: black;
    font-size: 28px;
    height: 33px;
    width: 95px;
    text-align: center;
}

.img-autor-barra {
    border: 3px solid;
    border-radius: 100%;
}