/*CSS Para dispositivos de tela media*/

body {
    background-image: linear-gradient( to bottom, #222 180px, #fff 180px);
}

aside {
    max-width: 446px;
}

.img-autor-barra {
    width: 150px;
    height: 150px;
    margin: 0px 50px;
}

.link-barra {
    margin-top: 60px;
}

.borda-barra-navegacao {
    top: 90px;
}

@media(max-width: 640px) {

    body {
        background-image: linear-gradient( to bottom, #222 200px, #fff 200px);
    }

    aside {
        margin: 100px auto 10px;
        max-width: 350px;
    }
    
    .link-barra {
        font-size: 24px;
        margin-top: 110px;
    }
    
    .img-autor-barra {
        margin: 0px 10px 0px 0px;
    }

    .borda-barra-navegacao {
        top: 110px;
    }

    .img-projeto {
        display: none;
    }
}