/* Css geral da página */

body {
    overflow-x: hidden;
}

.banner-nome-autor {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 38px;
    max-width: 400px;
    margin: 100px auto 0;
    text-align: center;
}

.container {
    margin: auto;
    max-width: 920px;
    min-height: 95vh;
}

/* Informações gerais do projeto */
.info-geral-projeto {
    margin: 70px auto;
    max-width: 95%;
    height: 170px;
    border: 1px solid;
    border-radius: 15px;
    display: flex;
}

.img-projeto {
    margin: auto 30px;
    min-width: 228px;
    min-height: 116px;
    border: 1px solid;
    border-radius: 5px;
}

.titulo-desc-proj {
    max-width: 550px;
    padding-top: 30px;
}

.titulo-proj {
    font-size: 28px;
    margin-top: 40px;
    margin-left: 13px;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.desc-curta {
    margin: 15px;
    font-family: 'Open Sans', sans-serif;
}

.link-proj {
    text-decoration: none;
    color: blue;
}

aside {
    margin: 50px auto;
}

.barra-navegacao {
    display: inline-flex;
}

.link-barra {
    text-decoration: none;
    color: black;
    font-size: 28px;
    height: 33px;
    width: 95px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.img-autor-barra {
    border-radius: 100%;
}

.borda-barra-navegacao {
    border-top: 1px solid;
    border-bottom: 1px solid;
    height: 50px;
    margin-top: 90px;
    min-width: 99vw;
    position: absolute;
    z-index: -1;
}

.desc-tecnologias span {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-left: 13px;
    font-style: normal;
}

.desc-tecnologias {
    font-style: italic;
}