.nav-top { 
    padding: 2em 0;
}

.nav-top li a {
    margin: 0 .3em;
    padding: .5em 1em;
}

.principal figure { 
    justify-content: center;
}

.principal figcaption {
    margin-left: 0em;
    text-align: center;
    margin-top: 1em;
}

.principal h2 {
	padding: 5px;
}

.sec-info {
	width: 90%;
}

h1 { 
    font-size: 2.5em;
}

h2 { 
    font-size: 1.2em;
}

#projetos h1 { 
    font-size: 3em;
}

.projetos figure {
    width: unset;
    margin: 1em;
}

.projetos figure::before {
	width: 240px;
}

.stack {
	width: 240px;
	left: 10px;
}

.sobre {
	transition: 1s;
}

.sobre h3 { 
    font-size: 1.7em;
}

@media(max-width: 380px) {
	.sobre > div {
		padding: 1em;
	}

	.sobre .container-contato {
		height: 100px;
	}
}

.footer-geral {
    min-height: 100px;
    text-align: center;
}