/*CSS Para dispositivos de tela pequena*/

@media(max-width: 640px) {

    .projeto-1 {
        min-height: 180px;
    }

    .img-projeto {
        display: none;
    }

    .titulo-desc-proj {
        padding-left: 15px;
    }
}