:root {
    --mainColor: #ff7c2f;
    --lightMainColor: rgb(255 229 196);
    --primary-font-color: black;
    --primary-border-radius: 30px;
    --secondary-border-radius: 50px;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    scroll-behavior: smooth;
}

main {
    background: linear-gradient(to bottom, var(--lightMainColor), var(--mainColor));
    display: flex;
    justify-content: center;
    align-items: center;
}

.pointer {
    cursor: pointer;
}

.mainCard {
    width: min(1500px, 90vw);
    border-radius: var(--primary-border-radius);
    box-shadow: 0px 0px 100px #fb7b2d45;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sectionTitle {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    background-color: #fff;
    border-radius: var(--primary-border-radius);
    padding-top: 25px;
    padding-bottom: 25px;
    width: 317px;
    margin: 0 auto 0 10px;
}

.mainContent {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    overflow-y: auto;
    overflow-x: hidden;

    background-color: white;
    margin: 10px;
    border-radius: var(--primary-border-radius);
}

@media (max-width: 1280px) {
    .mainCard {
        width: min(1150px, 90vw);
    }
}

.topMenuContainer {
    display: flex;
    margin: 64px 50px 5px 50px;
    justify-content: space-between;
}

.topMenu {
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.topMenuContainer header {
    align-self: center;
    margin: 0 auto;
    font-weight: bold;
    color: var(--primary-font-color);
    font-size: 26px;
}

.customLink {
    text-decoration: none;
    border-radius: var(--secondary-border-radius);
    padding: 1em 1em;
    font-weight: bold;
    color: var(--primary-font-color);
}

a:hover {
    background-color: var(--lightMainColor);
    transform: scale(1.05);
    transition: .3s;
    color: var(--primary-font-color);
}

.selectedBtn {
    background-color: var(--mainColor);
    color: white;
    padding: 1em 2em;
}

/* Main Content */
.aboutContainer {
    display: flex;
    flex-direction: row;
    padding: 50px;
    height: 40%;
    align-items: unset;
    flex-wrap: nowrap;
}

.mainCardTitle {
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.mainTitle {
    font-size: 3em;
}

.mainSubtitle {
    font-size: 1.3em;
}

.contactContainer {
    display: flex;
}

.contactBtn {
    background-color: var(--mainColor);
    color: white;
    padding: 1em 2em;
}

.contactBtn:nth-child(even) {
    margin: 0 1em;
}

.contactBtn:nth-last-child(1) {
    margin: 0 0 0 1em;
}

.sectionArt {
    align-items: end;
    display: flex;
    justify-content: center;
}

.sectionArt img {
    width: min(300px, 100%);
}

.credits {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    flex-direction: column;
}

.credits a {
    text-decoration: none;
    color: var(--primary-font-color);
}

.hidden {
    display: none !important;
}

/* Card */
.project {
    height: 450px;
    display: flex;
    justify-content: space-between;
    border-radius: var(--primary-border-radius);
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid var(--mainColor);
}

.project .details {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--primary-border-radius);
    position: relative;
    padding: 0 20px;
}

.detailedDescription {
    border-radius: var(--primary-border-radius);
    width: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--lightMainColor);
    padding: 20px;
    box-sizing: border-box;
}

.detailedDescription>p {
    margin: unset;
}

.detailedDescription>ul {
    list-style: inside;
}

.detailedDescription>header {
    font-weight: bold;
}

.detailItem {
    margin: 15px 0;
    font-size: .9em;
    word-spacing: 4px;
}

.project .image {
    width: 195px;
    height: 150px;
    object-fit: cover;
}

.project strong {
    margin: 10px;
    font-size: 24px;
    font-weight: bolder;
}

.project p {
    max-width: 300px;
    margin-top: 3px;
    text-align: center;
    word-spacing: 2px;
    font-size: .9em;
}

.actionsContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.project a {
    position: relative;
    width: 80px;
}

.videoPlayerLink {
    width: 105px !important;
    box-sizing: border-box;
}

.project svg {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 28px;
    height: 28px;
}

.stack {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.stack figure {
    text-align: center;
}

.videoPlayerContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000000b3;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.videoPlayerContainer iframe {
    border-radius: var(--primary-border-radius);
}
