.container {
    margin: auto;
    max-width: 920px;
    min-height: 95vh;
}

/* Informações gerais do projeto */
.info-geral-projeto {
    margin: 70px auto;
    max-width: 95%;
    height: 170px;
    border: 1px solid;
    border-radius: 15px;
    display: flex;
}

.link-img-proj {
    margin: auto 0px;
}

.img-projeto {
    margin: auto 30px;
    min-width: 228px;
    min-height: 116px;
    border: 1px solid;
    border-radius: 5px;
}

.titulo-desc-proj {
    max-width: 550px;
    padding-top: 30px;
}

.titulo-proj {
    font-size: 28px;
    margin-top: 40px;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.desc-curta {
    margin: 15px 0px;
    font-family: 'Open Sans', sans-serif;
}

.link-proj {
    text-decoration: none;
    color: blue;
}

.desc-tecnologias span {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-style: normal;
}

.desc-tecnologias {
    font-style: italic;
}

/*CSS Para dispositivos de tela pequena*/

@media(max-width: 640px) {

    .projeto-1 {
        min-height: 180px;
    }

    .img-projeto {
        display: none;
    }

    .titulo-desc-proj {
        padding-left: 15px;
    }
}