
.container {
    margin: auto;
    max-width: 920px;
    min-height: 50vh;
}

.titulo-pagina {
    font-size: 38px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.espaco-texto {
    margin-left: 50px;
}

.sobre-texto {
    font-family: 'Open Sans', sans-serif;
    max-width: 80%;
    margin: 70px auto 30px;
    text-align: justify;

    /* Aumenta o espaçamento entre as linhas */
    line-height: 1.7;
}

.antes-informacoes {
    margin-top: 30px;
    margin-bottom: 10px;
}

.informacoes {
    box-shadow: 0 9px 11px rgba(0,0,0,0.025), 0 9px 10px rgba(0,0,0,0.05);
    border-radius: 10px;
    min-height: 210px;
    max-height: 210px;
    padding-left: 15px;
    padding-top: 15px;
    max-width: 70%;
    margin: 0 auto;
}

.dado-info {
    font-family: 'Open Sans', sans-serif;
    margin: 10px;
    line-height: 1.5;
}

.nome-campo {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.email {
    text-decoration: none;
}

.rodape {
    margin-top: 70px;
}

/* Telas com no máximo 650px */
@media(max-width: 650px) {

    .titulo-pagina {
        margin-top: 50px;
    }

    .informacoes {
        min-height: 260px;
        max-height: 260px;
    }
}

/* Telas com no máximo 380px */
@media(max-width: 380px) {
    .informacoes {
        min-height: 290px;
        max-width: 80%;
    }
}